// Define variables for your color scheme

// Ninja colors
$red: #FF0000;
$middle-red: #de0500;
$gray: #191919;
$middle-gray: #5e4b4b;
$light-gray: #F4F4F4;

// colors
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
