// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&display=swap');

// Define fonts for body and headers
$body-font: 'Lora', serif;
$headers-font: 'Poppins', sans-serif;


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Ninja";
  src: asset-url('fonts/aAsianNinja.otf');
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
}
@font-face {
  font-family: "NinjaStrike";
  src: asset-url('fonts/NinjaStrike.otf');
}
$my-font: "Ninja";
$my-font2: "NinjaStrike";
