.game-all{
  min-height: 100vh;
  width: 100%;
}

.container-game {
  min-height: 100vh;
  width: 100%;
.row {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 0px;
  width: 100%;
  min-height: 70vh;
  padding: 15px;

  }
}

.col {

  border: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url("/image/landscape-game.jpeg");
}

.container-game-title {
    text-align: center;
    margin-top: 24px;
  }
  .container-game-title h1 {
    font-family: $my-font2;
    font-size: 95px;
  }
.results-game{
    position: absolute;
    width: 100%;
    min-height: 66.5vh;
    top: 227px;
    background-color: rgba;
    background-color: rgba(244, 244, 244, 0.6);
}
.results-game {
  h2 {
    font-family: $my-font2;
    font-size: 33px;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    bottom: 14px;
    position: relative;
    text-align: center;
  }
  .best-results {

    left: 48%;
    transform: translateX(-50%);
    top: 25px;
    bottom: 14px;
    position: relative;
    text-align: center;
  }

  .best-results ul {

    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    bottom: 14px;
    position: relative;
    text-align: center;
  }

   button {
    top: 150px;
    display: block;
    margin: auto

  }
}

.all-rewards{
  width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 213px;
  background-color: rgba(244, 244, 244, 0.7);
  display: none;
}


.rewards {
  display: none;
  height: 100%;
  width: 317px;
  position: absolute;
  animation: fadein 2s;
  background-image: image-url("japan-form.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 539px;
  top: 69px;
  // background-position: top 64px right 52px;


@keyframes fadein {
    from {
      opacity:0;
      transform: translateX(-500px);
    }
    to {
      opacity:1;
      transform: translateX(0px);
    }
  }
}
.rewards h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 102px;
  margin-right: 10px;
}

.rewards .game-score {
  position: absolute;
  top: 136px;
  right: 117px;
  color: tomato;
  font-size: 51px;
  font-weight: bold;
  width: 92px;
  text-align: center;
}



.rewards .button-replay {
  position: absolute;
  top: 332px;
  left: 40px;
  a {
    margin-right: 14px;
  }
}

.play-btn {
  background-color: #E84648;
}
