// Specific CSS for your home-page
body {
  font-family: $body-font;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input:focus::placeholder {
  color: transparent;
}

h1 {
  font-family: $my-font;
  text-align: center;
  padding-top: 28px;
  font-size: 58px;
}
.main {
  flex: 1 0 auto;
}

#img-home-page {
  padding-top: 36px;
}
