<h1><%= @game.name %></h1>

<% index = 0 %>
<% if @game.participations.count >= 1 %>
  <% @game.participations.each do |participation| %>
    <li><%= index += 1 %>. Your score(s) <%= participation.finished_in %></li>
  <% end %>
<% end %>

<div id="ws-wrapper">
    <div class="hero"></div>
    <div id="score"></div>
</div>
<br>

<br>
<%= link_to 'PLAY!', participations_path(game_id: @game, board_id: current_user.avatar.board), method: :post %>
