<h1>SHOP - Items#index -</h1>
<br>
<% @items.each do |item| %>
  <ul><h3>- <%= item.name.capitalize %></h3></ul>
  <%= link_to 'Buy', avatar_items_path(avatar_id: current_user.avatar, item_id: item), method: :post %>
<% end %>
