<div class="edit-form">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">
        <div class="form-login">

          <h2>Personnage</h2>
          <%= simple_form_for [current_user, @avatar] do |f| %>
          <%= f.input :name, label: "Nom", placeholder: 'Nouveau nom' %>
          <%= f.input :gender, label: "Genre", collection: ['Homme', 'Femme'] %>

          <div class="form-actions">
            <%= f.button :submit , "Modifier", class: "btn btn-primary" %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>