////////////////////////card //////////////////////////

.container-cards {
  width: 843px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  font-family: Open-sans, sans-serif;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 39px;
  padding: 31px;
}

.card-trip {
  overflow: hidden;
  background-image: image-url("wooden-texture.jpg");
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 313px;
  animation: zoominout 1.5s ;
}
@keyframes zoominout {
  0% {
      transform: scale(0);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  background-color: white;
}


.card-trip p {
  font-size: 27px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  flex-direction: column;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 17px;
  width: 73px;
  text-align: center;
  bottom: 74px;
  color: gold;
  text-shadow: 0px 2px 4px black;
}


.button{
  position: absolute;
  top: 95px;
  left: 134px;
  width: 104px;
  border-radius: 22px;
}

.soldout p {
  position: absolute;
  right: 15px;
  width: 338px;
  text-align: center;
  bottom: 142px;
  transform: rotate(-22deg);
  font-size: 57px;
  color: #07f432;
  text-shadow: 9px;
  text-shadow: 4px 8px 8px green;
}

.soldout a {
  position: absolute;
  right: 140px;
  top: 70px;
  border: 2px solid #9d4948;
  border-radius: 13px;
  width: 85px;
  text-align: center;
}

.soldout a:hover {
  background-color: #9d4948;
  color: white;
}

.weapon-name h2 {
  width: 328px;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
  margin: 0;
  font-family: 'Mate SC', serif;
  color: white;
  text-shadow: 2px 2px black;
  }
//////////////////////////////////shop////////////////////////////////

.shop {
  text-align: center
}


.shop h1 {
  font-size: 76px;
  font-family: $my-font;
  margin-bottom: 200px;
}

.bakcground-card{
  background-image: image-url("/image/backgroundshop.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

hr {
  border: 1px solid #9D4948;
  opacity: 0.5;
  width: 866px;
  }

.name-categories h1 {
  text-align: center;
}

.style-shop {
  height: 150px;
  margin-bottom: 143px !important;
  margin: auto;
  width: 750px;
  padding: 35px;
  border: 1px solid black;
  background-image: image-url("/image/backgroundtitleshop.png");

  }

///////////////////////////// hover on links//////////////////////////////////:
.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 272px;
  margin-top: 90px;
  margin-bottom: 10px;
}

.link a{

  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-family: 'Oleo Script', cursive;
}

a.btn-shop-center {

   margin-right: 64px;
}

 a.btn-shop-center:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0.5,2);
}

 a.btn-shop-center:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a.btn-shop-left:after{
  content: '<<';
  position: absolute;
  left: -30px;
  display: inline-block;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s;
  transform: scale(0.5, 3);

}

a.btn-shop-left:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a.btn-shop-right:after{
  content: '>>';
  position: absolute;
  left: 64px;
  display: inline-block;
  width: 100%;
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s;
  transform: scale(3, 1);

}

a.btn-shop-right:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media(max-width: 992px) {
  .container-cards{
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 768px) {
  .container-cards {
    grid-template-columns: 1fr;
  }

}

