.container-cards {
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  font-family: Open-sans, sans-serif;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 18px;
  padding: 1px;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  background-color: rgb(221, 221, 221);
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 27px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.card-trip-infos .card-trip-user {
    position: absolute;
    right: 17px;
    top: -20px;
    width: 73px;
    text-align: center;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: black 1px solid;
}

.button{
    position: absolute;
    top: 95px;
    left: 134px;
    width: 104px;
    border-radius: 22px;
}
