.footer {
  background-color: transparent;
  color: #676366;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}