.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 86px;
  border-radius: 3px;
  box-shadow: 2px 1px 6px rgba(0,0,0,0.2);
  h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn:hover {
    background-color: white;
    color: $middle-red;
  }
  a {
    color: black;
  }
}

.container #img-form {
  position: absolute;
  height: 400px;
  right: 125px;
  top: 170px;
}
.container #img-mask {
  position: absolute;
  height: 337px;
  top: 170px;
  left: 56px;
}

.edit-form{
    background-image: url("/image/bakcgroundedit.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

input:focus::placeholder {
  color: transparent;
}

.new-avatar-form {
  background-image: url("/image/background_edit_avatar.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;
  .form-login {
    margin-top: 120px;
  }
}
